body {
  background-color: yellowgreen;
}

@media (min-width: 1024px) or (min-resolution: 200dpi) {
  body {
    background-color: yellow;
  }
}

/*
-all, screen, print, speach
*/
/*
width, min-width, max-width
height, min-height, max-height
orientation: portrait, mlandscape
resolution, min-resolution, max-resolution: 300dpi
*/