html {
  --text-color: #333a4a;
  --page-color: #f5f6f1;
  --section-border-color: #fb4a3a;
  --header-color: #fb4a3a;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.body {
  margin: 0;
}

.main {
  padding: 24px;
  background-color: var(--page-color);
}

.nav{
background-color: var(--header-color);
display: flex;
gap: 20;
justify-content: center;
}

.nav_link {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.titile {
  margin: 24px 0;
  text-align: center;
}

.section {
  height: 200px;
  background-color: #fff;
  padding: 16px;
  margin: 24px 0;
  border-radius: 8px;
  border: 1px solid var(--section-border-color);
}

.section_title {
margin:0 0 16px;
position: sticky;
}

.footer {
  background-color: #000;
  color:#fff;
  text-align: center;
}